*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #eef9bf;
}

 /* Topo - Header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 47px;
    width: 100%;
    height: 100%;
}

header h1{
    width: 540px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

 /* Cartas */

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1174px;
}

.carta {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 5px;
    margin-left: 34px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    perspective: 1000px;
}

.verso {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verso img {
    width: 100px;
    height: 100px;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face img {
    width: 50x;
    height: 50px;
}

.frente, .verso {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    background: #A7E9AF;
}

.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

.carta.flip {
    transform: rotateY(180deg);
  }

.frente {
    transform: rotateY(180deg);
  }

  /* Versão mobile */

@media (max-width: 335px){

    section{  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 109px;
        margin-right: 109px;
    }

    header{
        display: flex;
        justify-content: center;
        margin-right: 11px;
        margin-left: 12px;
        margin-top: 40px;
    }

    header h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        color: #75B79E;
    }
}